.section-2-music{
    margin-top: 1.5em;
}

.music-body{
    width: 350px;
    margin: 2em auto;

}

.music-img-1 {
    width: 80%;
}

.music-top{
    border-top: 0;
}

.music-end {
    border-top: 1px solid black;
    margin-top: 2em;
}

.social-list {
    margin-top: 2em;
}


@media (min-width: 1090px) {

    .music-body{
        width: 800px;

    
    }

  
    .music-title{
        margin-right: 15.5em;
        margin-bottom: 0.2em;
    }
    
    .music-img-1 {
        width: 30%;
    }

    .music-site {
        margin-bottom: 2em;
    }



    

}