*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Lato', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 900;


    --clr-light: #FFF;
    --clr-primary: #20639B;
    --clr-dark: #173F5F;
    --clr-accent: #3CAEA3;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    text-align: center;
    letter-spacing: 1px;
}




.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    
    
}



.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item{
    padding: 1em 0;
    border-bottom: 2px solid #C3CFD9;
}



.top {
    border-top: 2px solid #C3CFD9;
}



.logo{
    margin: auto 0;
    margin-left: 0;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--clr-dark);
}

li a{
    color: var(--clr-primary);
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    border-bottom: none;
    color: var(--ff-primary)
}

.section-1, .section-2, .section-3, .section-4{
    border-bottom: 3px solid #3CAEA3;

}

/* Introduction */

.section-1{
    margin-top: 5em;
}

.intro-text{
    display: grid;
    font-weight: 300;

}

.intro-name{
    padding: 0.7em 1em;
    border-radius: 0.5em;
    background-color: var(--clr-primary);
    color: #F6D55C;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;

}

.img {
    width: 80%;
}

.img-logo {
    width: 50%;
    border-radius: 3em;
}


.te {
    order: 0;
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
}


.list-sec{
    display: grid;
}

.list {
    display: grid;
    text-transform: uppercase;
    list-style: none;
    font-size: 2em;
    padding: 0;
}

.fa-guitar, .fa-blog, .fa-music, .fa-guitar {
    order: -2;
}


.list-icon{
    order: 1;
}

.fas {
    font-size: 1.3em;
    margin-top: 0.5em;
}

.list-icon {
    border-bottom: 5px solid rgb(230, 229, 229);
    margin: 0.2em 0;
}

.end-section {
    margin-bottom: 2em;
}

.intro-end-text{
    margin: 0;
    padding: 0
}

/* Section2 */

.section-2, .section-3, .section-4{

    border-top: 3px solid #173F5F;
}

.section-2-title{
    text-transform: uppercase;
}

.music-img {
 margin-bottom: 1em;
}

.music-split{
    padding: 1em;
}


.section-2-btn{
    color: #3CAEA3;
    font-size: 1em;
    background-color: #FFF;
    text-transform: capitalize;
    padding: 1em;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 2em;
}

.section-2-btn:hover{

    color: #FFF;
    background-color: #3CAEA3;
}


/* Section 3 */

.section-3-change{
    display: inline;
}

.section-3-subhead{
    font-weight: 300;
    font-size: 2.5em;
}

.end {
    margin-bottom: 3em;
}

.DGB-Logo{
    width: 50%;
}

.img-sm{
    border: 2px solid lightgray;
    width: 300px;
    object-fit: cover;
    height: 250px;
}

.img-sm:hover{
    
    opacity: 50%;
    cursor: pointer;
    background: red;
}

.DGB-Logo-pic{
    width: 15%;
    margin-bottom: 3em;
}

/* Section 4 */

.section-4-body{
    margin: auto;
}

.section-4-body-2{
    font-size: 1.5em;
}

/* Section 5 */



footer {
    border-top: 2px solid black;
    display: flex;
    padding-right: 1em;
}



.social-list {
    padding: 0;
    margin: auto;
 
}

.fab {
    font-size: 2.5em;
    
}

.fa-twitter-square{
    color: rgb(93, 193, 233);
}

.about-text{
    margin: 2em auto;
}

.about-link {
    color: rgb(118, 176, 223);
}

.about-link:hover {
    color: rgb(93, 193, 233);
}

/* Hamburger */

.topnavigation {
    transition: transform 250ms ease-in-out;
    overflow: hidden;
    background-color: var(--clr-primary);
    position: relative;
  }
  
  .topnavigation #myLinks {
    display: none;
    
  }
  
  .topnavigation a {
    color: white;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
  }
  
  .topnavigation a.icon {
    background: rgb(6, 83, 185);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  
  .topnavigation a:hover {
    color: #F6D55C;
  }

  .active {
    color: #F6D55C;
  }

  .nav__link {
      border-top: 1px solid white;
  }



  .portfolio-card {
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    padding: 1em;
    background: white;
}

.project-list{
    list-style: none;
    padding: 0
}


  /* Hamburger */
    
@media (min-width: 1090px) {

    .img-logo{
        max-width: 20%;
        border-radius: 50%;
        position: relative;
        right: 7.5em;
    }

    .intro-end-text{
        width: 900px;
        margin: auto;
    }

    .intro-name{
        color: #F6D55C;
        text-transform: uppercase;
        padding: 1em;
        padding-right: 9em;
        border-radius: 0.5em;
        position: relative;
        top: 1em;
   
    }

    .te {
        order: 0;
        margin: 0;
        text-align: left;
        margin-left: 1em;
    }

    .te {
        font-size: 1.5em;
    }

    .text-header {
        position: relative;
        top: 3em;
    }
    
  

    .intro-text{
        margin-bottom: 2em;
    }

    .intro-header{
        display: flex;
        justify-content: center;
        margin-bottom: 9em;
    
    }

    .logo{
        margin-left: 1em;
        font-size: 1.5em;
        background-color: var(--clr-light);
        font-size: 2em;
        letter-spacing: 3px;
    }

    .fa-guitar, .fa-blog, .fa-music, .fa-guitar {
        order: 1
    }

    .list-icon{
        order: 0;
    }

    .list {
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        list-style: none;
        font-size: 2em;
    }

   

    /* .navvy{
        width: 500px;
        display: flex;
        justify-content: space-around;
        margin: auto 0;

}

.nav-list{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    border: none;
}

li a:hover {
    border-bottom: 2px solid #C3CFD9;
    padding-bottom: 0.5em;
} */



/* Section-2 */

.music-2-split{
    display: flex;
    justify-content: space-evenly;
}

.section-2-body {
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}

/* Section-3 */

.section-3-change{
    display: flex;
    justify-content: center;
}

.about-text{
    width: 800px;
    margin: 2em auto;
}

}
